.arrangement-footer {
  margin-top: 32px;
}
.arrangement-footer-title {
  font-weight: bold;
  margin-bottom: 10px;
}
.arrangement-footer-container {
  padding-left: 5px;
  display: flex;
  justify-content: space-between;
}
.arrangement-footer-container .arrangement-footer-content {
  width: 370px;
}
.footer-content-title {
  margin-bottom: 10px;
}